.buycar{
    background: Cyan;
    margin-bottom: 60px;
    input{
        width: 100px;
        height: 30px;
    }
    .box{
        margin-right: 20px;
    }
    .box2{
        margin-left: 20px;
    }
}